// <-------Color------->
$primary_color: linear-gradient(138.07deg, #6c33ff 0.24%, #00a4ff 75.21%);
$secondry_color: linear-gradient( 314.84deg, #ff0000 -9.11%, #ff221c 10.74%, #ff483a 35.8%, #ff6451 58.77%, #ff755e 79.66%, #ff7b63 95.32% );
$light_bg: #fbfcff;
$light_sky: #eaf2ff;
$light_gray: #aba8af;
$extra_lightgray: #dddddd;
$dark: #2d2638;
$blue: #5946ff;

// <-------FontSize>------------>
$heading: 30px;
$heading_small: 20px;
$content_text: 20px;
$subcontent_text: 18px;

// <------BorderRadius--------->
$border_radius: 4px;
$border_radius_8: 8px;
